<p class="primer-parrafo">
  <span class="grande">Hola,</span>
  <span class="grande">mi</span>
  <span class="grande">nombre</span>
  <span class="grande">es</span>
  <span class="grande">Rafael</span>
  <span class="grande">Salas.</span>
</p>

<p class="segundo-parrafo">
  <span class="peque">Soy  desarrollador</span>
  <span class="peque">web  Full</span>
  <span class="peque">Stack,  centrado</span>
  <span class="peque">en  Java</span>
  <span class="peque">para  BackEnd,</span>
  <span class="peque">y  HTML,</span>
  <span class="peque">CSS  y</span>
  <span class="peque">JavaScript  junto</span>
  <span class="peque">a  React</span>
  <span class="peque">para  FrontEnd.</span>
  <span class="peque">Puedes  contactarme</span>
  <span class="peque">a  través</span>
  <span class="peque">de  mi</span>
  <span class="peque">email</span>
  <span class="peque">( rafa.salas1@gmail.com )</span>
  <span class="peque">o  la  sección</span>
  <span class="peque">de  contacto.</span>
</p>
